* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1A1A1D;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    color: #ffffff;
}

.block {
   
    width: 30%;
    float: left; 
    margin-left: 33px;  
    border: 1px solid #c3073f;
    background-color: #6f2232;
}
p {
    padding: 15px 5px 10px 5px;
    clear: right;
    color: #ffffff;
    
}

h3{
    float: right;
    padding: 5px 40px;
    border-bottom: 1px solid #c3073f;
    border-left: 1px solid #c3073f;
    background-color: #950740;
    color: #ffffff;
}

@media (max-width: 767px) {
    
    .block{
        width: 90%;
        margin-bottom: 25px;
        margin-left: 25px;
    }
}
  
@media (min-width: 768px) and (max-width: 991px) {
/* For tablets: */
    #third{
        width: 93%;
    }

    #one, #second {
        width: 45%;
        margin-bottom: 25px;
    }

    .block{
        margin-left: 25px;
    }
}
@media only screen and (min-width: 992px) {
/* For desktop: */
}